body {
    font-family: sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

.chat-container {
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
}

.message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    margin-left: 10px;
}

.avatar img {
    width: 100%;
    height: 100%;
    display: block;
}

.message-content {
    flex-grow: 1;
    border-radius: 5px;
    padding: 10px;
}

.message-text {
    text-align: center;
    word-wrap: break-word;
}

.message-info {
    display: flex;
    justify-content: flex-end;
    font-size: 0.8em;
    color: #777;
    margin-top: 5px;
}

.message-info span + span {
    margin-left: 10px;
}

.message.speaker-1 {
    flex-direction: row;
}

.message.speaker-1 .message-content {
    background-color: #fddede;
}

.message.speaker-1 .message-info {
    justify-content: flex-start;
}

.message.speaker-2 {
    flex-direction: row-reverse;
}

.message.speaker-2 .message-content {
    background-color: #d1ecf1;
}

.message.speaker-2 .avatar {
    margin-left: 10px;
    margin-right: 0;
}