body {
    margin: 0;
}

.footer {
    background-color: #1c3b5e;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 900px;
    margin: auto;
}

.footer-card__ul ul {
    list-style: none;
    padding: 0;
}

.footer-card__ul ul li {
    margin: 5px 0;
}

.footer-card__ul ul li a {
    color: white;
    text-decoration: none;
    transition: background 0.3s;
}

.footer-card__ul ul li a:hover {
    text-decoration: underline;
}

.footer-card__social-icons {
    display: flex;
    gap: 15px;
}

.icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    position: relative;
}

.icon img {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.3s;
}

.gray {
    opacity: 0;
}

.icon:hover .normal {
    opacity: 0;
}

.icon:hover .gray {
    opacity: 1;
}
