body {
    text-align: center;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1650px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    margin: 20px;
}

.card {
    display: flex;
    gap: 15px;
}

.card__item {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s;
    margin: 0 auto;
}

.card__item img {
    max-width: 80px;
    height: auto;
}

.card__item p{
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.card__item:hover {
    transform: scale(1.05);
}
