body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.pronunciation {
    font-style: italic;
    color: #666;
    margin-bottom: 15px;
}

dt {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

dd {
    margin-left: 20px;
}

ol {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

em {
    color: #555;
    font-style: italic;
}

.synonyms {
    font-weight: bold;
    color: #333;
}
