body {
    margin-top: 60px;
    background-color: gray;
    font-family: Arial, sans-serif;
    justify-content: center;
}

.container {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    gap: 20px;
}

.card {
    display: inline-block;
    width: 250px;
    padding: 20px;
    background: #f8e4b5;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    z-index: -1;
}

.card__title {
    position: relative;
    font-size: 1.7em;
    text-shadow: 2px 2px 0 white, 4px 4px 3px rgba(0, 0, 0, 0.5);
    color: #f6e2b3;
    text-shadow: 0 2px 2px black, 0 -2px 1px white;
    text-align: center;

}

.card__bookmark {
    background-color: black;
    position: absolute;
    opacity: 0.8;
    border-radius: 10px 10px 0 0;
    right: 50%;
    translate: 50% 0;
    top: -15px;
    width: 120px;
    height: 30px;
    z-index: 1;
}

.card__title::before {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px 10px 0 0;
}