body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.pricing-table {
    margin: 0 auto;
    border-radius: 1em;
    overflow: hidden;
    border: 2px solid black;
    width: 100%;
    border-collapse: collapse;
}

.pricing-table__col--features {
    width: 13em;
}

.pricing-table__col--starter,
.pricing-table__col--econom,
.pricing-table__col--standard,
.pricing-table__col--pro {
    width: 7em;
}

.pricing-table__head {
    color: white;
}

.pricing-table__row:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.09);
}

.pricing-table__title {
    font-size: 1.5em;
    font-weight: 500;
    height: 7em;
    vertical-align: middle;
    background-color: #7987aa;
}

.pricing-table__plan {
    font-size: 1.5em;
    font-weight: 500;
    height: 7em;
    padding-top: 1em;
    text-align: center;
}

.pricing-table__plan:nth-child(2) {
    background-color: #4f628d;
}

.pricing-table__plan:nth-child(3) {
    background-color: #2f4173;
}

.pricing-table__plan:nth-child(4) {
    background-color: #142953;
}

.pricing-table__plan:nth-child(5) {
    background-color: #071538;
}

.pricing-table__plan-name,
.pricing-table__duration {
    margin: 0;
}

.pricing-table__price {
    padding-top: 1.2em;
    font-weight: 900;
    font-size: 1.8em;
}

.pricing-table__feature {
    vertical-align: middle;
    height: 4em;
    padding-left: 2em;
}

.pricing-table__value {
    vertical-align: middle;
    height: 4em;
    text-align: center;
}

.pricing-table__footer {
    height: 5em;
}

.pricing-table__action {
    text-align: center;
}

.pricing-table__button {
    text-transform: uppercase;
    padding: 1em 2.5em;
    cursor: pointer;
}