* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #E25740;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.login__box {
    background: #f5f5f5;
    padding: 20px;
    text-align: center;
}

.login__title {
    margin-bottom: 1.7em;
    font-weight: bold;
}

.login__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login__input {
    width: 100%;
    padding: 5px;
    text-align: center;
}

.login__button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    font-size: 16px;
    border: none;
}

.login__button:hover {
    background-color: #218838;
}

.login__forgot {
    display: block;
    margin-top: 15px;
    color: red;
    text-decoration: none;
}

.login__forgot:hover {
    text-decoration: underline;
}

.login__alternative-text {
    margin: 15px 0;
    font-size: 14px;
    color: white;
}

.login__social {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.login__social-button {
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}

.login__social-button--facebook {
    background-color: #3b5998;
}

.login__social-button--twitter {
    background-color: #1da1f2;
}

.social-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
