body {
    background-color: #f5f5f5;
}

.container {
    width: 300px;
    height: 100px;
}

.doors {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.door {
    width: 50%;
    height: 100%;
    background-color: purple;
    position: absolute;
    transition: transform 2s ease-in-out;
    z-index: 2;
}

.left {
    left: 0;
    border-right: 2px solid black;
}

.right {
    right: 0;
    border-left: 2px solid black;
}

.text {
    position: absolute;
    font-size: 15px;
    font-weight: bold;
    color: black;
    opacity: 0;
    transition-duration: 2s;
    z-index: 1;
}

.doors:hover .left {
    transform: perspective(300px) rotateY(45deg);
}

.doors:hover .right {
    transform: perspective(300px) rotateY(-45deg);
}

.doors:hover .text {
    opacity: 1;
}
