* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #888080;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.container {
    display: grid;
    grid-template-columns: 10% auto;
}

.tabs {
    display: flex;
    grid-template-columns: repeat(3, auto);
    width: 100%;
    background: #7c7c7c;
    color: #ad9b9b;
}

.sidebar {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    flex-direction: column;
    background: #444;
    width: 120px;
    height: 6em;
    margin-top: 0;
}

.tabs__tab {
    display: block;
    color: #ffffff;
    text-decoration: none;
    background: #555;
    text-align: center;
    transition: background 0.3s;
}

.tabs__tab:hover {
    background: #222;
}

.tabs__tab--active {
    background: #222;
    height: 2em;
}

.tabs__content {
    flex: 1;
    background-color: #565656;
    display: grid;
    grid-template-columns: repeat(3, auto);
    flex-wrap: wrap;
    align-items: start;
}

.tabs__block {
    flex: 1 1 calc(33.33% - 20px);
    padding: 15px;
}

.tabs__image {
    background: #ccc;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #333;
}

.tabs__title {
    font-size: 18px;
    margin: 10px 0;
    color: #ffffff;
}

.tabs__text {
    font-size: 14px;
    color: #ffffff;
}