* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.content {
    padding: 50px;
}

.content__title {
    font-size: 2em;
    margin-bottom: 15px;
    font-weight: bold;
}

.content__text {
    margin-bottom: 15px;
    margin-right: auto;
    text-align: justify;
    font-size: 1.7em;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.modal__content {
    position: relative;
    background: white;
    width: 450px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);

}

.modal__header {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid #000;
}

.modal__title {
    text-transform: uppercase;
}

.modal__cross {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 1em;
    right: 1em;
    cursor: pointer;

}

.modal__cross img {
    width: 20px;
    height: 20px;
}

.modal__body {
    font-size: 1.2em;
    color: #333;
}
