body {
    background-color: rgb(6, 70, 73);
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.card__content {
    display: inline-flex;
}

.card__header {
    color: rgb(116, 161, 164);
    padding-left: 5em;
    padding-top: 4em;
}

.card__title {
    color: white;
    font-size: 2.5em;
    font-weight: bold;
    width: 11em;
    padding-top: 0.8em;
    padding-left: 2em;
}

.card__image {
    width: 5.5em;
    height: 5.5em;
    padding-top: 3em;
    padding-left: 5em;
}

.card__info {
    padding-top: 4.5em;
    display: inline-block;
    padding-left: 2em;
}

.card__info-item {
    padding-bottom: 1em;
}

.card__info-label {
    color: rgb(116, 161, 164);
    padding-bottom: 0.4em;
}

.card__info-text {
    color: white;
}

@media (width < 600px) {
    .card__image {
        padding-top: 5.9em;
        height: 6em;
        width: 6em;
    }

    .card__info {
        max-width: 290px;
    }

    .card__info-item:first-child {
        padding-top: 5.2em;
    }
}